.filter-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.filter-box {
  width: 90%;
  max-width: 380px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
}

.filter-option {
  width: 100%;
  padding: 12px;
  background: #f3f4f6;
	color: #000;
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: left;
}

.cat-list {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding-left: 10px;
  margin-bottom: 12px;
  max-height: 250px;
  overflow-y: auto;
}

.cat-list.show {
  display: flex;
}


/* стиль отдельных пунктов */
.cat-list label {
  padding: 8px 10px;
  border-radius: 6px;
}

.cat-list label:hover {
  background: #f5f5f5;
}

/* ⭐ Красивый тонкий скролл как на lalafo */
.cat-list::-webkit-scrollbar {
  width: 6px;
}

.cat-list::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

.cat-list::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.cat-list::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.price-block {
  display: flex;
  gap: 10px;
}

.price-block input {
  flex: 1;
	width: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
}

.filter-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.reset-btn {
  flex: 1;
  padding: 10px;
  background: #eee;
  border: none;
  border-radius: 8px;
}

.apply-btn {
  flex: 1;
  padding: 10px;
  background: #708090;
  color: #fff;
  border: none;
  border-radius: 8px;
}


.no-ads {
  text-align: center;
  padding: 30px;
  font-size: 18px;
  color: #555;
}

